.copyright-footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    position: relative;
    box-shadow: 0 0 10px rgba(43, 133, 169, 0);
    background: transparent;
    flex-wrap: wrap;
    padding: 5px;
}

.copyright-footer p {
    margin: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-size: medium;
}

@media screen and (max-width: 767px) {
    .copyright-footer {
        width: auto;
        height: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: -100px;
    }
    .copyright-footer p {
        position: static; 
        margin-top: 2px;
        transform: none; 
    }
}